.photo-grid {
  margin: auto;
  flex: 2 1 auto;
  display: flex;
  flex-wrap: wrap;
  row-gap: 2rem;
  column-gap: 2rem;
}

.thumbnail-container {
  width: 200px;
}

.thumbnail {
  max-width: 100%;
}

@media screen and (max-width: 1200px) {
  .photo-grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .thumbnail-container {
    width: 175px;
    height: 175px;
  }

  .thumbnail {
    max-width: 100%;
    max-height: 100%;
  }
}

@media screen and (max-width: 960px) {
  .photo-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 700px) {
  .photo-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 500px) {
  .photo-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
