.photo-row {
  margin: auto;
  width: max-content;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 2rem;
  column-gap: 2rem;
}

.thumbnail-container {
  max-width: 200px;
}

.thumbnail {
  max-width: 100%;
}

@media screen and (max-width: 1200px) {
  .photo-row {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 960px) {
  .photo-row {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 700px) {
  .photo-row {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 500px) {
  .photo-row {
    grid-template-columns: repeat(1, 1fr);
  }
}
