.header-container {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin-bottom: 2rem;
}

.grid-container {
  max-height: calc(200px * 3 + 5rem);
  overflow-y: auto;
}

.group-container {
  position: relative;
  padding: 0 2rem;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.members-container {
  flex-grow: 1;
  text-align: center;
  padding: 2rem 0;
}

.upload-modal {
  background: white;
}

.progress-container {
  width: 50%;
  margin: 1rem auto;
  text-align: center;
}

.upload-pane {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 200px;
  z-index: 1;
  display: flex;
  justify-content: center;
  background-color: #a0908d;
  list-style: none;
  padding: 2rem 1rem;
}

.hidden {
  display: none;
}
