.grid-container {
  max-height: calc(200px * 3 + 5rem);
  overflow-y: auto;
}

.group-container {
  padding: 0 2rem;
  display: flex;
  flex-direction: row;
}

.members-container {
  flex-grow: 1;
  text-align: center;
}
