.button-container {
  display: flex;
  justify-content: center;
}

.members-container ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  justify-content: center;
  padding-left: 0;
}

.members-container ul li {
  user-select: none;
}

.selected-friend {
  background: #47294c;
  color: white;
  border: 1px solid transparent;
}
